---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  sponsor: CollectionEntry<"sponsors">;
}

const {
  sponsor: {
    data: { name, image, slug, desc, url },
  },
} = Astro.props;
---

<div>
  <a href={url} target="_blank" rel="nofollow">
    <Image
      src={image}
      alt={slug + " sponsor logo"}
      transition:name={`post-${slug}-thumb`}
    />
  </a>
  <div class="bg-white dark:bg-slate-950 p-4">
    <p class="text-sm mb-2">
      <strong class="font-mono font-bold">{name}:</strong>{" "}
      {desc}
    </p>
    <a
      href={url}
      target="_blank"
      rel="nofollow"
      class="text-teal-500 underline"
    >
      View {name}
    </a>
  </div>
</div>
