---
export interface Props {
  on: string;
  for: [string, string];
}

const {
  on: input,
  for: [start, end],
} = Astro.props;
const [year, month, day] = input.split("-").map(Number);
const [hour, minute] = start.split(":").map(Number);
const date = new Date(`${year}-${month}-${day}Z${hour}:${minute}`)
---

<local-time
  datetime={date.toUTCString()}
  class="[&_span]:text-xs [&_span]:block [&_span]:text-slate-400"
>
  {start}
  <span>UTC</span>
</local-time>
