---
import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";
import "@fontsource/ibm-plex-mono";
import "@fontsource/ibm-plex-sans";
import { ViewTransitions } from "astro:transitions";
import { BRAND_NAME } from "@/config";

export interface Props {
  title: string;
  class?: string;
  user?: object;
}

const { title } = Astro.props as Props;
---

<script>
  import { supabase } from "@/lib/auth";
  import { install } from "@github/hotkey";

  supabase.auth.onAuthStateChange((event, session) => {
    if (!session) {
      return;
    };

    if (event === "SIGNED_OUT") {
      // delete cookies on sign out
      const expires = new Date(0).toUTCString();
      document.cookie = `sb-access-token=; path=/; expires=${expires}; SameSite=Lax;`;
      document.cookie = `sb-refresh-token=; path=/; expires=${expires}; SameSite=Lax;`;
    } else if (event === "SIGNED_IN" || event === "TOKEN_REFRESHED") {
      const maxAge = 100 * 365 * 24 * 60 * 60; // 100 years, never expires
      document.cookie = `sb-access-token=${session.access_token}; path=/; max-age=${maxAge}; SameSite=Lax;`;
      document.cookie = `sb-refresh-token=${session.refresh_token}; path=/; max-age=${maxAge}; SameSite=Lax;`;
    }
  });

  document.addEventListener("astro:page-load", () => {
    for (const el of document.querySelectorAll("[data-hotkey]")) {
      install(el as HTMLElement);
    }
  });
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="twitter:card" content="The conference about the most admired editor among developers." />
    <meta name="twitter:image" content="https://neovimconf.live/og_image.png" />
    <meta name="twitter:title" content="NeoVimConf.live 2023" />
    <meta name="twitter:image:alt" content="Neovim Conf 2023, December 8th. Join us @ neovimconf.live" />

    <meta property="og:title" content="NeoVimConf.live 2023" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://neovimconf.live/" />
    <meta property="og:image" content="https://neovimconf.live/og_image.png" />
    <meta property="og:image:alt" content="Neovim Conf 2023, December 8th. Join us @ neovimconf.live" />
    <meta property="description" content="The conference about the most admired editor in 2023 among developers!" />
    <meta property="og:description" content="The conference about the most admired editor in 2023 among developers!" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />

    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#ffffff" />

    <title>{title} | {BRAND_NAME}</title>
    <slot name="head" />
    <ViewTransitions />
  </head>
  <body
    class="text-slate-800 dark:text-slate-200 bg-slate-100 dark:bg-slate-900"
  >
    <main class="py-2 min-h-screen flex flex-col z-10 relative">
      <Navigation class="mb-4" />
      <slot />
    </main>

    <Footer />
  </body>
</html>
